html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  .fade h1 {
    width: 90%;
  }

  .intro p {
    padding: 50px;
  }

  nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }
  
  nav ul {
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: 1s;
  }
  
  nav.black ul {
    background: #000;
  }
  
  nav ul li {
    display: inline-block;
    padding: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  
  nav ul li a:hover {
    color: rgb(246, 72, 255);
  }
  
  nav ul li:last-child a:last-child {
    color: grey;
  }
  
  nav ul li:last-child a:last-child:hover {
    color: cyan;
  }
  
  .menu-icon {
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
  }

@media(min-width: 320px) and (max-width: 580px) {
  nav ul {
    max-height: 0px;
    background: #000;
  }

  nav.black ul {
    background: #000;
  }

  .showing {
    max-height: 25em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px 0;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
}

.head {
  width: 100%;
  height: 100vh;
  background: url(../img/technical.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

.bg-shade {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.851);
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headText {
  opacity: 0;
  color: white;
  text-align: center;
  font-size: 2.3em;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 10px;
  font-weight: 400;
  transform: translateX(-600px);
  transition: all 1s ease-in-out;
}

.ht-is-showing {
  opacity: 1;
  transform: translateX(0px);
}

.headText span {
  color: rgb(246, 72, 255);
}

.content {
  height: 1000px;
}

hr {
  max-width: 960px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.intro h1 {
  text-align: center;
  padding: 20px;
  height: 100px;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Jura', sans-serif;
  letter-spacing: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro p {
  font-size: 1.5em;
  line-height: 50px;
  text-align: center;
  padding: 25px;
  background: #111;
  color: white;
}

.service-bg {
  background: url(../img/skills.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 450px;
  color: white;
}

.fade {
  width: 100%;
  height: 450px;
 background: rgba(0, 0, 0, 0.768);
 display: flex;
 justify-content: center;
 align-items: center;
}

.fade h1 {
  text-align: center;
  padding: 20px;
  height: 100px;
  text-transform: uppercase;
  font-size: 2em;
  font-family: 'Jura', sans-serif;
  letter-spacing: 10px;
  padding: 0;
  display: block;
}

.fade span, .form span {
  color: rgb(246, 72, 255);
}

.services {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services a {
  text-decoration: none;
  color: rgb(246, 72, 255);
  border: 2px solid rgb(246, 72, 255);
  border-radius: 5px;
  padding: 8px 16px;
  position: relative;
  margin-top: 25px;
  font-family: 'Alegreya Sans SC', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.3s ease-in-out; 
}

.services a:hover {
  background: #333;
  color: #fff;
}

.code {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 30px;
  height: 100px;
  opacity: 0;
  font-size: 75px;
  padding: 15px;
  transform: translateY(20px);
  transition: all 0.4s ease-in-out;
}

.is-showing {
  opacity: 1;
  transform: translateY(0px);
}

.code p {
  position: relative;
  top: 10%;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  font-size: 0.3em;
  font-family: 'Alegreya Sans SC', sans-serif;
}

.contact-bg {
  background: url(../img/contact.jpeg);
  background-position: center;
  background-attachment: fixed;
  height: 450px;
  color: white;
}


.service-bg .fade span {
  margin-left: 12px;
}

.form {
  width: 100%;
  background: url(../img/technicalService.jpeg);
  background-position: center;
  background-attachment: fixed;
  height: 600px;
}

.form-fade {
  height: 600px;
  width: 100%;
  background: rgba(24, 0, 72, 0.823);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.form-fade h1 {
  padding: 0;
  margin: 0;
  /* margin-top: -2%; */
  color: white;
  text-transform: uppercase;
  font-family: 'Jura', sans-serif;
  letter-spacing: 10px;
  margin-bottom: 60px;
  font-size: 1.7em;
}

.form-fade form input {
  display: inline-block;
  margin-bottom: 10%;
  width: 90%;
  padding: 8px 16px;
  background: none;
  border: none;
  border-bottom: 2px solid #eee;
  border-left: 2px solid #eee;
  border-radius: 5px;
  outline: none;
  color: white;
  font-family: 'Jura', sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

form input:focus {
  border-bottom: 3px solid rgb(246, 72, 255);
  border-left: 3px solid rgb(246, 72, 255);
}

::-webkit-input-placeholder {
  color: white;
}

.btn {
  padding: 16px 32px;
  border: none;
  border-bottom: 2px solid rgb(246, 72, 255);
  border-left: 2px solid rgb(246, 72, 255);
  background: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Jura', sans-serif;
  /* transition: all 0.2s ease-in-out; */
  transition-duration: 0.5s 
}

.btn:hover {
  color: #fff;
  background: linear-gradient(to top right, #33ccff 0%, transparent 50%, transparent 70%, transparent 80%, transparent 90%,  transparent 100%);
}

footer {
  height: 200px;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 16px;
}

footer div {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer p {
  margin-left: 5px;
}



@media (min-width: 1024px) {

  .headText {
    font-size: 6em;
  }

  .intro h1, .form-fade h1, .fade h1 {
    font-size: 3em;
  }

  footer p {
    font-size: 20px;
  }

  .services {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }

  .services .code {
    text-align: center;
    width: auto;
    padding: 25px;
  }

  .services .code p {
    font-size: 16px;
  }

  .grid-btn {
    grid-column-start: 2;
    grid-column-end: 3;
  }

}
